
 .article-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-left: 288px;
   margin-right: 88px;
   padding-bottom: 64px;
   padding-top: 16px;
 }

 .app-article-list-item {
   flex-basis: calc(30% );

 }

 .blog {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 8px;
   margin-bottom: 8px;
 }
 .left{
  padding-right: 104px;
 }
 
.semicerc-button {
display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  left: 91%;
  width: 68px;
  height: 100px;
  background-color: #D9D9D9;
  color: #444;
  border-radius: 50px 0 0 50px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 7%;
  cursor: pointer;
  transform: translate(-50%, 50%) scale(1.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.semicerc-button:hover {
  transform: translate(-50%, 50%) scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #444;
  color: #D9D9D9;
}

.plus-icon {
  font-size: 48px;
}