// .article-container {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-gap: 16px;
//   margin: 32px;
//   margin-left: 56px;
// }

 .article-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-left: 288px;
   margin-right: 88px;
   padding-bottom: 64px;
   padding-top: 16px;
 }

 .app-article-list-item {
   flex-basis: calc(30% );

 }

 .blog {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 8px;
   margin-bottom: 8px;
 }
 .left{
  padding-right: 104px;
 }
 

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  margin-right: 20px;
  bottom: 40px;
 
}

/* Stil pentru butoanele de paginare */
.pagination button {
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
  width: 70px;
  align-items: center;
  height: 30px;
}
