<div class="blog">
  <div class="left"><app-filter></app-filter></div>

  <div class="right">
    <div class="article-container">
      <div *ngFor="let article of articles">
        <app-article-list-item
          [id]="article.id"
          [title]="article.title"
          [content]="article.content"
          [posted]="article.posted"
          [city]="article.city"
          [code]="article.code"
          [store]="article.store"
          [expiration]="article.expiration"
          [category]="article.category"
          [author]="article.author"
          [creatorId]="article.creatorId"
          [showDeleteBtn]="isFavouritesPage"
          [hideFavoriteBtn]="isNotFavouritesPage"
          (articleChange)="onArticleChange($event)"
        ></app-article-list-item>
      </div>
    </div>
  </div>
</div>
