<hr class="custom-line" />
<div class="vertical-line"></div>
<img
  id="img_home"
  src="../assets/images/students.png"
  alt="Nu s-a gasit imaginea"
/>
<p id="text_home">
  MoneySaver is a website that helps <br />
  students save money by providing them<br />
  with an easy way yo find vouchers and<br />
  discounts on products or services in all<br />
  areas of interest for thems.
</p>
<div class="vertical-line3"></div>

<p id="text-magazine">Shops</p>

<hr class="custom-line3" />
<img
  id="img_magazine"
  src="../assets/images/magazine_home.png"
  alt="Nu s-a gasit imaginea"
/>
<hr class="custom-line4" />
<p id="text-categorii">Categories</p>
<hr class="custom-line5" />
<p id="text-food">Food</p>
<img
  id="img_food"
  src="../assets/images/food.png"
  alt="Nu s-a gasit imaginea"
/>

<p id="text-fashion">Fashion</p>
<img
  id="img_fashion"
  src="../assets/images/fashion.png"
  alt="Nu s-a gasit imaginea"
/>
<hr class="custom-line6" />
<hr class="custom-line7" />
<p id="text-beauty">Beauty</p>
<img
  id="img_beauty"
  src="../assets/images/beauty.png"
  alt="Nu s-a gasit imaginea"
/>
<p id="text-entertainment">Entertainment</p>

<img
  id="img_entertainment"
  src="../assets/images/entertainment.png"
  alt="Nu s-a gasit imaginea"
/>
<hr class="custom-line8" />
<div class="vertical-line4"></div>
<hr class="custom-line2" />
<div class="vertical-line2"></div>