<br /><br /><br />
  <img
    id="img_home"
    src="../assets/images/students.png"
    alt="Nu s-a gasit imaginea"
  />
  <p id="text_home">
    MoneySaver is a website that helps <br />
    students save money by providing them<br />
    with an easy way yo find vouchers and<br />
    discounts on products or services in all<br />
    areas of interest for thems.
  </p>
  <p id="text-magazine">Shops</p>
  <img
    id="img_magazine"
    src="../assets/images/magazine_home.png"
    alt="Nu s-a gasit imaginea"
  />
  <p id="text-categorii">Categories</p>
  <p id="text-food">Food</p>
  <img
  id="img_food"
  src="../assets/images/glovo.png"
  alt="Nu s-a gasit imaginea"
/>
<img
  id="img_food"
  src="../assets/images/tazz.png"
  alt="Nu s-a gasit imaginea"
/>
<p id="text-fashion">Fashion</p>
<img
  id="img_fashion"
  src="../assets/images/about_you.png"
  alt="Nu s-a gasit imaginea"
/>
<img
  id="img_fashion"
  src="../assets/images/fashion_days.png"
  alt="Nu s-a gasit imaginea"
/>
<p id="text-beauty">Beauty</p>
<img
  id="img_beauty"
  src="../assets/images/cupio.png"
  alt="Nu s-a gasit imaginea"
/>
<img
  id="img_beauty"
  src="../assets/images/douglas.png"
  alt="Nu s-a gasit imaginea"
/>


<p id="text-entertainment">Entertainment</p>

<img
  id="img_entertainment"
  src="../assets/images/spotify.png"
  alt="Nu s-a gasit imaginea"
/>
<img
  id="img_entertainment"
  src="../assets/images/netflix.png"
  alt="Nu s-a gasit imaginea"
/>



<br /><br /><br />
