<!--Toolbar din Header-->
<div class="nav">

    <img align="left" [src]="ImagePath" style="width:160px;height:40px;">

    
    <div class="search">
        <input type="text" placeholder="Search...">
    </div>
    

    <div class="right">

    <button id="fav">
        <mat-icon class="custom-size">favorite_border</mat-icon>
    </button>

    <button id="blog" mat-raised-button color="#006400" routerLink="/blog">Blog</button>
    <button id="contact" mat-raised-button color="#006400" routerLink="/contact">Contact</button>
    <button id="aboutus" mat-raised-button color="#006400" routerLink="/about">About Us</button>
    <button id="signin" mat-raised-button color="#006400" routerLink="/signin">Sign In</button>
    </div>
    
    
</div>