h5{
  color: white;
  background-color: #006400;
  padding:10px;
  margin: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.left-corner {
   text-align: left;
}

.right-corner {
   text-align: right;
}