<div class="article-list-item">
  <div class="header">
    <div class="left-corner">
      <p>{{ category }}</p>
      <p>{{ city }}</p>
    </div>
    <div class="right-corner">
      <p>{{ posted | date : "dd/MM/yyyy" }}</p>
      <p>{{ author }}</p>
    </div>
  </div>
  <div class="centered">
    <div class="image-container">
      <img src="../assets/images/netflix.png" alt="{{ title }}" srcset="" />
      <button
        class="deleteBtn"
        *ngIf="showDeleteBtn"
        (click)="onRemoveFromFavorite(creatorId, articleId)"
      >
        x
      </button>
      <button
        class="favBtn"
        *ngIf="hideFavoriteBtn"
        (click)="onClickFavorite(index, creatorId, articleId)"
      >
        <mat-icon id="heart{{ index }}">favorite_border</mat-icon>
      </button>
    </div>
  </div>
  <p>Valid until : {{ expiration | date : "dd/MM/yyyy" }}</p>
  <button (click)="onClick()" routerLink="/blog/article-list/full-offer">
    See Offer
  </button>
</div>
