<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="circle">
            <img
                src="{{img}}"
                alt="Nu s-a gasit imaginea"
                height="100%"
                width="100%"
                />
            </div>
            <div class="name">
                <label>{{lname}}</label><br>
                <label>{{fname}}</label>
            </div>
        </div>
        <div class="flip-card-back">
            <label class="description">{{description}}</label>
        </div>
    </div>
</div>