.title{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Karla';
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: var(--heading, #212B27);
}

.cards1{
    display: flex;
    justify-content: space-around;
    gap: 40vh;
}

.cards2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40vh;
    margin-top: 30px;
}

.content{
    background-image: url("../../assets/images/about.png");  
    height: 91%;
    background-size: cover;  
    background-repeat: no-repeat;
}