h1{
    text-align: center;
    color: black;
}

.cards1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin-left: 200px;
}

.cards2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    margin-left: 420px;
    margin-top: 50px;
    margin-right: 220px;
}