<div class="comment">
  <div class="comment-content">
    <div class="author-comment">
      <div class="owner">
        <label>{{creatorName}}</label>
        <label>{{ posted | date : "dd/MM/yyyy" }}</label>
      </div>

      <p>
        {{message}}
      </p>

      <button mat-raised-button class="like">
        <mat-icon class="likeicon">thumb_up</mat-icon>
        <p>100</p>
      </button>

    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menuComm">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit</button>
      <button id="commentToDelete{{index}}" (click)="onDelete(id)" mat-menu-item>Delete</button>
    </mat-menu>
  </div>
</div>
