<div class="container">
  <div class="comment-body">
    <div>
      <div class="publisher-details">
        <p>{{ creatorName }}</p>
        <p class="post-date">{{ posted | date : "dd/MM/yyyy" }}</p>
      </div>

      <p *ngIf="!commentInEditMode">
        {{ message }}
      </p>
      <input *ngIf="commentInEditMode" [(ngModel)]="message" />
      <button *ngIf="commentInEditMode" (click)="saveEdit()">Apply</button>
    </div>

    <div>
      <button *ngIf="myComment" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">Edit</button>
        <button
          id="commentToDelete{{ index }}"
          (click)="onDelete(id)"
          mat-menu-item
        >
          Delete
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="action-button">
    <button mat-raised-button *ngIf="!likeClicked" (click)="addLike(id)">
      <mat-icon>thumb_up</mat-icon>
      <p>{{ numberOfLikes }}</p>
    </button>
    <button class="liked" *ngIf="likeClicked" mat-raised-button (click)="removeLike()">
      <mat-icon>thumb_up</mat-icon>
      <p>{{ numberOfLikes }}</p>
    </button>
  </div>
</div>
