.container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .comment-body {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #12121212, -1px -1px 5px #22222222;
    overflow: auto;
    
    .publisher-details {
        display: block;
        font-weight: bold;
      }
  }
}

p {
  display: inline-block;
  margin: 0px;

  &.post-date {
    margin-left: 8px;
  }
}

.action-button {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 8px;
    width: 20%;
    &.liked {
      color: blue !important;
    }
  }
}
textarea{
     resize: none;
      border: 1px solid #000000;
      border-radius: 8px;
      height: 250px;
      width: 275px;
}
.apply-edit:hover {
  background-color: #008000 !important;
  cursor: pointer;
}
.apply-edit {
    color: white;
    background-color: #006400;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-family: 'Karla';

}