<div class="container">
  <div class="comment-body">
    <div>
      <div class="publisher-details">
        <p>{{ creatorName }}</p>
        <p class="post-date">{{ posted | date : "dd/MM/yyyy" }}</p>
      </div>

      <p>
        {{ message }}
      </p>
    </div>

    <div>
      <button *ngIf="(myComment)" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Edit</button>
        <button
          id="commentToDelete{{ index }}"
          (click)="onDelete(id)"
          mat-menu-item
        >
          Delete
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="action-button">
    <button mat-raised-button>
      <mat-icon>thumb_up</mat-icon>
      <p>100</p>
    </button>
  </div>
</div>
