.container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .comment-body {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #12121212, -1px -1px 5px #22222222;

    .publisher-details {
        display: block;
        font-weight: bold;
      }
  }
}

p {
  display: inline-block;
  margin: 0px;

  &.post-date {
    margin-left: 8px;
  }
}

.action-button {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 8px;
    width: 20%;
    &.liked {
      color: red !important;
    }
  }
}
