.full-offer{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    flex-direction: row; 
}

.image{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top:30px;
}

.details{
    border:2px solid black;
    width: 500px;
    height: 400px;
    align-items: left;
    justify-content: center;
    margin-left: 100px;
    padding-top: 40px;
    font-family: 'Karla';
    font-weight: bold;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.det2{
    font-size: 20px;
    font-family: 'Karla';
    align-items: left;
    display: flex;
    flex-direction: column; 
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bold;
}

#title{
    margin-top: 10px;
    font-size: 32px;
    color:red;
}

#content, #code{
    margin-top: 10px;
    font-size: 32px;
}

#city, #expdate{
    font-size: 24px;
}

.webBtn{
    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.comment{
    border:1px solid black;
    border-radius: 8px;
    width:900px;
    height:100px;
    margin-left: 50px;
    padding-left: 10px;
    padding-top:10px;
    display: flex;
    justify-content: left;
    flex-direction: row; 
}

.ic{ 
    height: 70px;
    width:500px;
    font-family: 'Karla';
    border:none;
    font-size: 20px;
    color:#32403B;
}

.buttons{
    margin-left: 300px;
    display: flex;
    justify-content: left;
    flex-direction: column;   
}

.editBtn{
    color:white;
    background-color: #006400;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;  
    margin-top: 10px; 
}

.deleteBtn{
    color:white;
    background-color: #006400;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;
    margin-top: 8px;   
}



.editBtn:hover, .deleteBtn:hover {
    background-color: #008000 !important; /* Schimba culoarea de fundal la hover */
    cursor: pointer;
  }

.backBtn{
    background-color: #FFF;
    text-align: center;
    border: 1px solid #006400;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
}

