<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" />

<div class="up-buttons">
  <button mat-fab extended class="backBtn">
    <mat-icon class="icon">arrow_back</mat-icon>
    Back
  </button>
</div>

<div class="full-offer">
  <div class="image">
    <img src="" alt="Nu s-a gasit imaginea" width="150px" height="150px" />
  </div>
  <div class="details">
    <label id="title">{{ title }}</label>
    <label id="content"> | {{content}}</label>
    <br /><br /><br>
    <label id="city">City: {{city}}</label><br><br><br>
    <label id="expdate">Expire Date: {{expiration}}</label><br /><br /><br>
    <label id="code">CODE: {{code}}</label><br /><br /><br>
    <button mat-raised-button type="submit" class="webBtn">Go to website</button>
  </div>
  <div class="det2">
    <label>Category: {{category}} </label>
    <label>Author: {{author}} </label>
    <label>Date: {{posted}}</label>
  </div>
</div>
<br><br>
<div class="comment">
  <input type="text" class="ic" value="Add a comment..">
  <div class="buttons">
    <button mat-raised-button type="submit" class="editBtn">Edit</button>
    <button mat-raised-button type="submit" class="deleteBtn">Delete</button>
  </div>
</div>
