.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.up-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:170vh;
    margin-top: 10px;
}

.backBtn{
    height: 35px;
    width: 90px;
    display: flex;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: bold;
    background-color: #FFF !important;
    text-align: right;
    align-items: center;
    position: absolute;
    color: #006400;
    border: 1px solid #006400;
    border-radius: 8px; 
    justify-content: center;
   
}

.leftBtn{
    display: flex;
    flex-direction: row; 
    gap:10px;
}

.editOfferBtn{
    font-family: 'Karla';
    color: #006400;
    background-color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #006400;
    border-radius: 8px;
    width: 90px;
    height: 35px;
}

.deleteOfferBtn{
    font-family: 'Karla';
    color:#FF0000;
    background-color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #006400;
    border-radius: 8px;
    width: 90px;
    height: 35px;
    display: flex;
    text-align: right;
    align-items: center;
}

.deleteOfferBtn:hover{
    background-color: #006400 !important; /* Schimba culoarea de fundal la hover */
    cursor: pointer;
    color: #FF0000;
}

.full-offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20vh;
    margin-top:40px;
}

.image{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-top:30px;
}

.details{
    border:2px solid #838383;
    width: 500px;
    height: 400px;
    align-items: left;
    justify-content: center;
    font-family: 'Karla';
    font-weight: bold;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow:hidden;
}

.det2{
    font-size: 20px;
    font-family: 'Karla';
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
    font-weight: bold;
}

#title{
    margin-top: 10px;
    font-size: 32px;
    color:red;
}

#content, #code{
    margin-top: 10px;
    font-size: 32px;
}

#city, #expdate{
    font-size: 24px;
}

.codewbtn{
    display: flex;
    flex-wrap: wrap;
}

.copyBtn
{
    color:white;
    background-color: #006400 !important;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;  
    margin-top: 5px; 
    margin-left: 30px;
}

.copyBtn:hover, .addBtn:hover {
    background-color: #008000 !important; /* Schimba culoarea de fundal la hover */
    cursor: pointer;
  }

.webBtn{
    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

//div pentru input si buton de add
.addComment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -500px;
    gap:20px;
}

//input pentru comentariu
.comment{
    border: 1px solid #838383;
    //border: none;
    color:#67727E;
    width: 900px;
    height: 40px;
    border-radius: 8px;
    margin-left: 40px;
    padding-left: 10px;
    font-size: 'Karla';
    font-size: 15px;
}
//add comment
.addBtn{
    color:white;
    background-color: #006400;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;  
}


.comments{
    display: flex;
    flex-direction: column;  
}

h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1350px;
    font-family: 'Karla';
    font-weight: bold;
    text-decoration: underline;
}
.comm1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //margin-left: -500px;
    gap:100vh;
}
.comm{
    //border-bottom: 1px solid #006400;
    color: black;
    font-size: 18px;
    font-family: 'Karla';
}

.like,.dislike{
    background-color: white;
    border: none;
}

.like:hover, .dislike:hover{
    background-color: #006400;
}
/*
.buttons{
    //margin-left: 300px;
    display: flex;
    justify-content: left;
    flex-direction: column;   
}

.editBtn{
    color:white;
    background-color: #006400;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;  
    margin-top: 10px; 
}

.deleteBtn{
    color:white;
    background-color: #006400;
    width:70px;
    height:30px;
    text-align: center;
    font-family: 'Karla';
    font-size: 16px;
    border-radius: 8px;
    border:none;
    margin-top: 8px;   
}

*/

/*.editBtn:hover, .deleteBtn:hover {
    background-color: #008000 !important; /* Schimba culoarea de fundal la hover */
 /*   cursor: pointer;
  }


*/

.backBtn:hover, .editOfferBtn:hover, .webBtn:hover{
    background-color: #006400 !important; /* Schimba culoarea de fundal la hover */
    cursor: pointer;
    color: white;
}
/*
.iconBack, .iconDelete{
   
    align-items: center;
    padding-bottom: 1px; 
   padding-right: 5px;
}



.deleteOfferBtn{
    font-family: 'Karla';
    color:#FF0000;
    background-color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #006400;
    border-radius: 8px;
    width: 90px;
    height: 35px;
    display: flex;
    text-align: right;
    align-items: center;
    position: absolute;
    //left: 1420px;

}


*/